<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583439012104-9tvd4o7ten8ms9s32tce5qiujj68vfe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583439012104-9tvd4o7ten8ms9s32tce5qiujj68vfe4</string>
	<key>API_KEY</key>
	<string>AIzaSyBosvXQETXboyu6RY2zT-NZ67M444W8Qcs</string>
	<key>GCM_SENDER_ID</key>
	<string>583439012104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catatanUas</string>
	<key>PROJECT_ID</key>
	<string>appsmoon</string>
	<key>STORAGE_BUCKET</key>
	<string>appsmoon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583439012104:ios:12ab8daabb731e79999cbd</string>
</dict>
</plist>